:root {
    --text-color: white;
    --hover-color: #EB3B3C;
    --button-color:#EB3BA5;
    --buton-hover-color:#D73BEB;
    --background-color: #653BEB;
    --content-container: #9D3BEB;
    --bar-color: #080008;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Oxanium", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--bar-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bar-color);
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 100;
}

h1, h2, h3, h4, h5 {
    color: var(--text-color);
    padding: 15px;
    font-family: "Audiowide", sans-serif;
    text-shadow: 0px 0px 10px var(--hover-color);
}

.navbar ul{
    display: flex;
}

.navbar ul li {
    list-style-type: none;
    padding: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    position: relative;
    padding: 15px;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 0;
    background-color: var(--text-color);
    transition: height 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color: var(--hover-color);
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.navbar ul li a:hover::after {
    height: 100%;
    background-color: var(--hover-color);
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.hero {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #9D3BEB,  #EB3BA5, #EB3B3C);
    z-index: -1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 1px var(--text-color);
    box-shadow: 0px 0px 10px var(--text-color);
    padding: 15px;
    margin: 20px;
    line-height: 1.2;
    background-color: var(--bar-color);
    border-radius: 10px;
    opacity: 80%;
}

.hero-content p {
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
    padding: 15px;
}

.hero-image img {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 2px var(--text-color);
}

.collabs {
    padding: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.label-container img {
    max-width: 125px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--text-color);
    margin: 10px;
    object-fit: cover;
    
}
#media {
    background: linear-gradient(45deg, #9D3BEB,  #EB3BA5, #EB3B3C);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#media h2 {
    padding-bottom: 40px;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    background: var(--bar-color);
    opacity: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--text-color);
}

.media-container img {
    max-width: 125px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--text-color);
    margin: 10px;
    object-fit: cover;
}

figcaption {
    color: var(--text-color);
    margin: 10px;
    text-align: center;
}

audio {
    margin: 10px
}